@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #90323D
  --foreground: #D9CAB3
  --chocolate-cosmos: #5E0B15
  --cordovan: #90323D
  --dun: #D9CAB3
  --bronze: #BC8034
  --prussian-blue: #0E273C
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kodchasan", serif;
}

